<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name=viewport content="width=device-width, initial-scale=1">
	<title>Hello_angular</title>
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css">
	<link rel="stylesheet" href="assets/main.css">
	<script src="/bower_components/angular/angular.js"></script>
	<script src="/bower_components/jquery/dist/jquery.js"></script>
	<script src="/bower_components/notifyjs/dist/notify.js"></script>
	<script src="js/main.js"></script>
</head>
<body ng-app="MyApp" ng-controller="MyCtrl">
<div class="container">
	<my:Table name="{{ key }}" ng-repeat="(key, val) in page.tables" page="page"></my:Table>
</div>
</body>
</html>