<div id="{{ name }}" class="{{ name }} block" ng-class="table_class" ng-show="activator">
	<button class="btn btn-primary" ng-show="!show_shadow" ng-click="back()">
		Назад, к списку таблиц
	</button>
	<div class="shadow" ng-click="choosen()" ng-show="show_shadow">
		Таблица {{ name }}
	</div>
	<p>Таблица {{ name }} :</p>
	<table class="table table-striped table-bordered">
		<tr>
			<td ng-repeat="item in table_columns">
				{{ item }}
			</td>
			<td>
				редактировать/удалить
			</td>
		</tr>
		<tr ng-repeat="(key, value) in data">
			<td ng-repeat="(key, value) in value">
				{{ value }}
			</td>
			<td>
				<button class="btn btn-primary btn-xs" ng-click="change(key)">
					<span class="glyphicon glyphicon-pencil"></span>
					редактировать
				</button>
				<button class="btn btn-primary btn-xs" ng-click="delete(key)">
					<span class="glyphicon glyphicon-remove"></span>
					удалить
				</button>
			</td>
		</tr>
	</table>
	<button class="btn btn-primary btn-sm" ng-click="form_add_person = !form_add_person; form_change_person = false">
		<span class="glyphicon glyphicon-plus"></span>Добавить новую запись в {{ name }}
	</button>
	<div ng-show="form_add_person" class="bg-danger">
		<h2 class="text-warning">Добавьте новую запись в {{ name }}, введя необходимые данные:</h2 >
		<form method="POST" id="{{ name }}" ng-submit="add_item()">		
			<table class="table table-stripped table-bordered">
				<tr ng-repeat="item in table_columns">
					<td>{{ item }} :</td>
					<td><input type="text" class="form-control" field="{{ item }}"/></td>
				</tr>
			</table>
			<button class="submit pull-right btn btn-primary">Добавить пользователя</button>
		</form>
		<button class="btn btn-primary" ng-click="form_add_person = false">отмена</button>
	</div>

	<div ng-show="form_change_person" class="bg-danger">
		<h2 class="text-warning">Введите новые данные: </h2>
		<form method="POST" id="change" ng-submit="apply_change_item()">		
			<table class="table table-stripped table-bordered">
				<tr ng-repeat="(key, item) in table_columns">
					<td>{{ item }} :</td>
					<td><input type="text" class="form-control" field="{{ item }}"/></td>
				</tr>
			</table>
			<button class="submit pull-right btn btn-primary">редактировать поле</button>
		</form>
		<button class="btn btn-primary" ng-click="form_change_person = false">отмена</button>
	</div>
</div>