body{
	/*background-color: #eee;*/
}
.little-block{
	height: 200px;
	overflow: hidden;
	position: relative;
}
.shadow{
	position: absolute;
	width: 100%;
	height: 200px;
	opacity: 0.9;
	background-color: gray;
	text-align: center;
	font-size: 3em;
	color: black;
	cursor: pointer;
	z-index: 100;
}

.block{
	margin-top: 1em;
	padding-top: 1em;
}